
  <div class ="container search-bar">
        <nav>
          <form action = "<%= tribes_path %>" method = "get" >
            <div class="input-field white">
              <input id="search" type="search" name="tribes[search]" required>
              <label class="label-icon" for="search"><i class="material-icons grey-text text-darken-4">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </nav>
</div>


<div class="container">
  <h3 class="center-align">List of Tribes</h3>
  <div class="row">
    <% @tribes.each do |tribe| %>

      <%= render partial: "card", object: tribe, as: :tribe %>

    <% end %>
  </div>
</div>



