<div class ="container search-bar">
  <h5>Search a tribe</h5>
  <%= form_tag(tribes_path, remote: true, method: "get") do %>
    <select name = "search[city]" id="search" type="search">
      <option value="" disabled selected>Choose your city</option>
      <option value="marseille" data-icon="https://mediap.flypgs.com/awh/400/400//files/sehirlergorsel/marsilya.jpg" class="left circle">Marseille</option>
      <option value="lyon" data-icon="http://www.opera-bien-etre.fr/media/thumbnails/centre_ville_de_lyon_espace_coworking_salon_de_bienetre_cooperatif_opera__066161700_1536_23032015.jpg" class="left circle">Lyon</option>
      <option value="paris" data-icon="https://mediap.flypgs.com/awh/400/400//files/sehirlergorsel/paris.jpg" class="left circle">Paris</option>
      <option value="bordeaux" data-icon="http://appartdebordeaux.com/wp-content/uploads/2016/03/bordeaux-visite-400x400.jpg" class="left circle">Bordeaux</option>
      <option value="nantes" data-icon="http://www.presseocean.fr/sites/presseocean.fr/files/imagecache/facebook/2015/09/10/miroir_eau_nantes_cb_po_34a2020-379486.jpg" class="left circle">Nantes</option>
      <option value="london" data-icon="http://viajealondres.es/wp-content/uploads/2014/02/londres.jpg" class="left circle">London</option>
      <option value="rio de janeiro" data-icon="http://comex-scacpau.org/doc/C-102846.jpg" class="left circle">Rio de Janeiro</option>
    </select>
    <div id="search_skills">
      <%= render "search_skills", tribes: @tribes %>
    </div>
    <input type = "submit" class = "btn-large waves-effect waves-light amber center">
  <% end %>
</div>
<div class="container" style="padding-top: 30px">
  <div id = "search-headers">
    <h5>All tribes</h5>
  </div>
  <div class="row" id="search-results">
    <%= render "search_results", tribes: @tribes %>
  </div>
</div>
