<div class="col s12 m4">
  <%= link_to hut_path(hut) do %>
    <div class="card border-dotted-cyan">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
        <%= cl_image_tag('https://upload.wikimedia.org/wikipedia/commons/c/c3/Japon_hutte_exterieur.jpg', height: 150, width: 200, crop: :fill) %>
        <span class="card-title"><%= hut.name %></span>
      </div>
      <div class="card-content primary-txt">
        <p><%= hut.about[0..30]+'....' unless hut.about.blank? %></p>
      </div>
    </div>
  <% end %>
</div>
