<div class = "infowindow-huts">
  <p class="cyan-text text-darken-2" style="font-weight: bold"><%= hut.name %></p>
  <p><%= hut.address %><p>
  <p><%= hut.city %></p>`
  <p> capacity : <%= hut.capacity %> workers %><p>
</div>
