<div class ="container">
  <div class="row">
    <h1 class="center-align">List of huts</h1>
    <% @huts.each do |hut| %>
      <%= render partial: "card", object: hut, as: :hut %>
    <% end %>
  </div>
</div>
