 <footer class="page-footer cyan">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About Tribes</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">A tribe is a community of independent users who want to work freely in echange for sharing their home and skills</a></li>
                  <!-- <li><a class="grey-text text-lighten-3" href="#!">What is a hut?</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Add your hut</a></li> -->
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">About us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact the team</a></li>
                <!--   <li><a class="grey-text text-lighten-3" href="#!">Our team</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Join us</a></li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright cyan lighten-4">
            <div class="container">
            © 2017 Copyright Tribes

            </div>
          </div>
        </footer>
