<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class= "main-title">
        <h1 class="header center text-primary-color">Never Work Alone !</h1>
      </div>
      <div class="row center">
        <h5 class="header col s12 light">Join Tribes and work for free at other people's huts</h5>
      </div>
      <div class="row center">
        <a href="/tribes" id="download-button" class="btn-large waves-effect waves-light cyan"> Join a Tribe </a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center cyan-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Free</h5>

            <p class="light">Work at other people place for free. Our service is based on reciprocity, so when you join a tribe, you commit on providing a minimum time available at your place (your hut) for other tribe members to come</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center cyan-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Convenient</h5>

            <p class="light">Book anytime a space at a hut of a tribe you're part of. Tribe are made of independent workers willing to open their places and share their knowledge around shared skills</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center cyan-text"><i class="material-icons">verified_user</i></h2>
            <h5 class="center">Safe</h5>

            <p class="light">All the tribe members know who is where anytime. A tribe is based on trust and each member has ratings and reviews from its peers. Tribes can be co-managed by a set of administrators.</p>
          </div>
        </div>
      </div>

  <br><br>
  <div class="share-links">
    <a href="#" class="share-link bg-facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="#" class="share-link bg-twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#" class="share-link bg-linkedin">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="#" class="share-link bg-instagram">
      <i class="fa fa-instagram"></i>
    </a>
  </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>


