<div class="container">

          <div id="profile-page" class="section">
            <!-- profile-page-header -->
            <div id="profile-page-header" class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="https://images.unsplash.com/photo-1446575983799-470c50cfdd25?dpr=1&auto=format&fit=crop&w=1600&h=900&q=100&cs=tinysrgb&crop=" alt="user background">
                </div>
                <figure class="card-profile-image">
                    <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAyWAAAAJGRhN2U1YjE1LWJhMWQtNGZiNC05Yjc5LWQ1NmVmYTk5YmU0Mw.jpg" alt="profile image" class="circle z-depth-2 responsive-img activator">
                </figure>
                <div class="card-content">
                  <div class="row">
                    <div class="col s3 offset-s2">
                        <h4 class="card-title grey-text text-darken-4">Salim Benfarhat</h4>
                        <p class="medium-small grey-text">Fullstack Developper</p>
                    </div>
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">3+</h4>
                        <p class="medium-small grey-text">Work Experience</p>
                    </div>
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">5</h4>
                        <p class="medium-small grey-text">Completed Projects</p>
                    </div>
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">$80</h4>
                        <p class="medium-small grey-text">Price Per Hour</p>
                    </div>
                    <div class="col s1 right-align">
                      <a class="btn-floating activator waves-effect waves-light darken-2 right">
                          <i class="material-icons dp48">perm_identity</i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-reveal">
                    <p>
                      <span class="card-title grey-text text-darken-4">Roger Waters <i class="mdi-navigation-close right"></i></span>
                      <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Project Manager</span>
                    </p>

                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>

                    <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> +1 (612) 222 8989</p>
                    <p><i class="mdi-communication-email cyan-text text-darken-2"></i> mail@domain.com</p>
                    <p><i class="mdi-social-cake cyan-text text-darken-2"></i> 18th June 1990</p>
                    <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> BAR - AUS</p>
                </div>
            </div>

              <div class="card-panel light-blue">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>

            <!--/ profile-page-header -->

            <!-- profile-page-content -->
            <div id="profile-page-content" class="row">


              <!-- profile-page-sidebar-->
              <div id="profile-page-sidebar" class="col s12 m4">

                <!-- Profile About  -->

                <!-- Profile About Details  -->
                <ul id="profile-page-about-details" class="collection z-depth-1">
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s5 grey-text darken-1"><i class="mdi-action-wallet-travel"></i> Project</div>
                      <div class="col s7 grey-text text-darken-4 right-align">ABC Name</div>
                    </div>
                  </li>
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s5 grey-text darken-1"><i class="mdi-social-poll"></i> Skills</div>
                      <div class="col s7 grey-text text-darken-4 right-align">HTML, CSS</div>
                    </div>
                  </li>
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i> Lives in</div>
                      <div class="col s7 grey-text text-darken-4 right-align">NY, USA</div>
                    </div>
                  </li>
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s5 grey-text darken-1"><i class="mdi-social-cake"></i> Birth date</div>
                      <div class="col s7 grey-text text-darken-4 right-align">18th June, 1991</div>
                    </div>
                  </li>
                </ul>
                <div class="card center-align">
                  <div class="card-content purple white-text">
                      <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>Followers</p>
                      <h4 class="card-stats-number">1250</h4>

                  </div>

                </div>
              </div>

              <div id="profile-page-wall" class="col s12 m8">
                <div id="profile-page-wall-posts" class="row">
                  <div class="col s12">
                      <!-- medium -->


                      <!-- medium video -->


                      <!-- small -->
                      <div id="profile-page-wall-post" class="card">

                        <div class="card-image profile-small">
                          <img src="https://images.unsplash.com/photo-1484041090416-a61f59d42eef?dpr=1&auto=format&fit=crop&w=480&h=360&q=100&cs=tinysrgb&crop=" alt="sample" class="responsive-img profile-post-image">
                          <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>

                      </div>


                  </div>
                </div>
              </div>

              </div>
            </div>

          </div>
        </div>
