/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  padding: 5px 0px
}
.alert-info {
  background: #00e676;
}
.alert-warning {
  background: #ef5350;
}
