.primary-txt {
  color: $primary-text-color;
}

.card-content {
  height:130px;
}

.card-short {
  color: $secondary-text-color;
  font-size: 13px;
  padding-top: 10px;
}

.card-link {
  color:$dark-primary-color;
}


.card-panel {
  padding-left:60px;
  padding-right:60px;
}

