.light-primary-btn, .light-primary-btn:hover {
  background-color: $light-primary-color;
}
.btn-input-file-cyan, .btn-input-file-cyan:hover {
  background-color: $default-primary-color;
}
.padding-top {
  padding: 2em 0 0 0;
}
