.nav-wrapper {
  padding-left: 30px;
  padding-right:30px;
  background-color: $default-primary-color;
}

.brand-logo {
  padding-left: 10px
}

#dropdown1 {
  color:black;
}
.cyan-text {
  color:cyan;
}
